body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.card {
    background: white;
    padding: 35px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

.nav {
    margin-bottom: 10px;
}

.nav a {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;

}

@media (min-width: 768px) {

    h2 {
        font-size: 100px;
    }

    .card {
        background: white;
        padding: 35px;
        height: 600px;
        margin-bottom: 15px;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 90px;
    }

    .audio {
        width: 50%;
        /* ocupa toda largura do card */
       
        /* aumenta a altura do player */
        border-radius: 30px;
    }

    .som {
        height: 150px;
    }

    .nav {
        margin-top: 150px;
    }

    .nav a {
        padding: 25px 45px;
        background: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 45px;

    }

    textarea {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    font-size: 23px;
    }

}